* {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw;
    font-family: 'Montserrat' !important;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    overflow-x: hidden;
    
  }

  .wrapper {
      height: 100vh;   
      position: relative;   
  }  

  .mobile {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-content: center;
    color: black;
    visibility: hidden;
  }


  .peachMobile {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(226, 173, 154);
  }

  .blueMobile {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(73, 193, 240);
  }
  



  .left, .right {
    position: absolute;
    height: 100vh;
    width: 50vw;
  }
  
  .left {
   
    background-color: rgba(73, 193, 240, 0.973);
  }
  
  .right {
    right: 0;
    bottom: 0;
    
    background-color: rgb(226, 173, 154)
  }
  
  
  
  .navLeft {
    position: fixed;
    height: 100vh;
    width: 120px;
    background-color:rgb(27, 27, 27);
    color: rgb(255, 255, 255);
  }
  
  .logo {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    left: 20px;
    font-size: 20px;
    font-weight: bolder;
  }
  

  .media {
    position: absolute;
    width: 380px;
    left: -130px;
    top: 47%;
    transform: rotate(-90deg);
  }
  
  .media ul {
    list-style: none;
  }
  
  .media ul li {
    display: inline-block;
    font-weight: 500;
    text-align: center;
  }
  
  .media ul li:not(:last-child) {
    padding-right: 60px;
  }

  .navRight {
    position: fixed;
    height: 100vh;
    width: 120px;
    background-color:rgb(27, 27, 27);
    right: 0;
    color: rgb(255, 255, 255);
  }
  


  .container {
      height: 100vh;
      width: 80vw;
      margin: 0 auto;
      display: grid;
      place-content: center;
      color: rgb(27, 27, 27);;

  }
  
  .watchImages {
    width: 700px;
    max-width: 100%;
  }

  .watchImages img {
      height: 100%;
      width: 100%;
  }

  .middleWatch {
      position: relative;
      top: 0;
      left: 0;
      z-index: 10;

  }


  .outerWatch {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
  }


  
 
  
  .product-text {
    text-align: center;
    color: rgb(27, 27, 27);
  }
  
  .product-title {
    font-size: 70px;
  }
  
  
  .product-subtitle {
    font-size: 17px;
    font-weight: 500;
  }
  
  .features {
      display: flex;
      flex-direction: row;
      width: 1000px;
      justify-content: space-between;
  }

  .featuresText {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 50px;
      padding-top: 30px;
  }


  .featuresHeading{
    flex: 1;
    font-size: 40px;
    font-weight: 700;
  }

  .featuresSubtext {
      flex: 1;
      font-size: 15px;
      padding-top: 25px;
  }
  
  .featuresImagesContainer {
      flex: 1;
    
  }

  .featuresImages {
      width: 370px;
      height: 370px;
      margin: 0 auto;
  }

  .featuresImages img {
      height: 100%;
      width: 100%;
  }


@media screen and (max-width: 900px) {
  .mobile {
    visibility: visible;
  }
  html {
    overflow:hidden;
  }
}